@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

header{
    background-color: rgb(25, 153, 238);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.cidadenome {
    margin-top: 30px;
    color: #ffffff;
    text-shadow: -3px 1px 8px #000;
}

.logo {
    display: flex;
    margin-left: 100px;
}

.logo img {
    height: 90px;
    width: 125px;
}

.cabecalho{
    justify-content: center;
    align-items: center;
    display: inline;
    margin-top: 30px;
    margin-right: 100px;
}

.cabecalho ul {
    display: flex;
    gap: 20px;
    text-shadow: -3px 1px 8px #000;
}

.banner {
    background-color: rgba(0, 0, 0, .99);
    background-image: url('../img/content_DJI_0051.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    height: 532px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.tituloDoBanner {
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: -3px 1px 8px #000;
    transform: translate(0, -110%);
}

.curiosidades {
    display: flex;
    width: 850px;
    gap: 50px;
    justify-content: center;
    margin-left: 530px;
    margin-top: 100px;
}

.card {
    width: 500px;
    background: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 100px;
    border-radius: 3%;
}

.curiosidadeUm {
    background-image: url('../img/paulo-cesar-frade-revuelta-um-dos-proprietarios-da-vila-viking-brasil-em-juquitiba-sp-1625858069705_v2_750x421.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.curiosidadeDois {
    background-image: url('../img/Rafting-Juquitiba-243.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.curiosidadeTres {
    background-image: url('../img/mini-shopping-de-artesanato.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.cardHeader img {
    width: 138px;
}

.cardContent {
    margin-top: 200px;
    margin-bottom: 50px;
}

.cardHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cardHeader span {
    margin-top: 23px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.cardDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.cardDescription span {
    width: 300px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    min-height: 120px;
}

.cardButton {
    margin: auto;
    display: flex;
    width: 145px;
    height: 54px;
    background-color: rgb(25, 153, 238);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(0, 30%);
    border-radius: 3%;
  }
  
.cardButton span {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #f3f3f3;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

footer {
    background-color: rgb(25, 153, 238);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
    height: 200px
}

.social {
    display: flex;
    width: 12.5rem;
    justify-content: space-around;
}

.social img {
    width: 1.87rem;
}

ul{
    list-style: none;
}